<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mivacationsurfer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mivacationsurfer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mivacationsurfer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mivacationsurfer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="miVacationSurferEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ekphuneefq.database.windows.net,1433;Initial Catalog=mivacatAAVBN4Ktw;User ID=TeamTenProductions@ekphuneefq;Password=MiVacationSurfer10" Name="Data Source=tcp:ekphuneefq.database.windows.net,1433;Initial Catalog=mivacatAAVBN4Ktw;User Id=TeamTenProductions@ekphuneefq;Password=MiVacationSurfer10" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="miVacationSurfer.miVacationSurferEntities, miVacationSurfer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ekphuneefq.database.windows.net,1433;Initial Catalog=mivacatAAVBN4Ktw;User ID=TeamTenProductions@ekphuneefq;Password=MiVacationSurfer10" Name="Data Source=tcp:ekphuneefq.database.windows.net,1433;Initial Catalog=mivacatAAVBN4Ktw;User Id=TeamTenProductions@ekphuneefq;Password=MiVacationSurfer10" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="miVacationSurfer.Models.ApplicationDbContext, miVacationSurfer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ekphuneefq.database.windows.net,1433;Initial Catalog=mivacatAAVBN4Ktw;User Id=TeamTenProductions@ekphuneefq;Password=MiVacationSurfer10</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)miVacationSurferEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ekphuneefq.database.windows.net,1433;Initial Catalog=mivacatAAVBN4Ktw;User Id=TeamTenProductions@ekphuneefq;Password=MiVacationSurfer10"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>