@{
    ViewBag.Title = "About Us";
}
<h2>About Us</h2>
<h3>Who We Are</h3>

<p>Team Ten is a group assembled by the good folks at Grand Circus Detroit in order to collaborate on a final project highlighting the skills acquired in an eight week intensive training program. The program focused on Entity Framework, SQL Server, HTML, C Sharp and ASP.NET M.V.C.</p>

<div class="row">
    <div class="col-md-3" align="center">
        <img src="~/Content/Pictures/ash.jpg" />
        <h3>
            Ashley Slaughter
        </h3>
        <p>
            <a href="http://www.linkedin.com/pub/ashley-slaughter/24/62/7bb"><img class="img-logo" src="~/Content/Pictures/linkedin.png" /></a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/ashjslaughter"><img class="img-logo" src="~/Content/Pictures/github.png" /></a>
        </p>
    </div>
    <div class="col-md-3" align="center">
        <img src="~/Content/Pictures/van.jpg" />
        <h3>Van Abeshi</h3>
            <p>
                <a href="http://www.linkedin.com/pub/vaniel-abeshi/51/a27/41b"><img class="img-logo" src="~/Content/Pictures/linkedin.png" /></a>&nbsp;&nbsp;&nbsp;
                <a href="https://github.com/abeshiv"><img class="img-logo" src="~/Content/Pictures/github.png" /></a>            </p>
</div>
    <div class="col-md-3" align="center">
        <img src="~/Content/Pictures/ste.jpg" />
        <h3>
            Stephanie Rankin
            </h3>
            <p>
                <a href="http://www.linkedin.com/in/stephanierankinmi"><img class="img-logo" src="~/Content/Pictures/linkedin.png" /></a>&nbsp;&nbsp;&nbsp;
                <a href="https://github.com/Takegat4356"><img class="img-logo" src="~/Content/Pictures/github.png" /></a>            </p>
</div>
    <div class="col-md-3" align="center">
        <img src="~/Content/Pictures/kyl.jpg" />
        <h3>
            Kyle Hicks
            </h3>
            <p>
                <a href="http://www.linkedin.com/pub/kyle-hicks/30/523/263"><img class="img-logo" src="~/Content/Pictures/linkedin.png" /></a>&nbsp;&nbsp;&nbsp;
                <a href="https://github.com/BigK1337"><img class="img-logo" src="~/Content/Pictures/github.png" /></a>            </p>

</div>
</div>
