@{
    ViewBag.Title = "Choose a Vacation";
}

<div align="center"><h2>Choose A Vacation Destination</h2></div>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4" align="center">
        <div class="box-one">
            <p> <img class="img-thumbnail" src="~/Content/Pictures/dune.jpg" /></p>
            <p>
                Search reviews of Michigan destinations.
            </p>
            <p>
                <input type="button" value="Find a Location" class="btn"
                       onclick="location.href='@Url.Action("Index","LocationReview")'" />
            </p>
            
        </div>
     </div>
        <div class="col-md-4" align="center">
            <div class="box-one">
                <p> <img class="img-thumbnail" src="~/Content/Pictures/lego.jpg" /></p>
                <p>
                    Search reviews of Michigan attractions.
                </p>
                <p>
                    <input type="button" value="Find an Activity" class="btn"
                           onclick="location.href='@Url.Action("Index","ActivityReview")'" />
                </p>
            </div>
          </div>
    <div class="col-md-2"></div>
 </div>
