
@{
    ViewBag.Title = "Home Page";
}

    @*<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>*@

<body onload="Slider();">


<div class="row">

    <div id="slideshow">
        <img id="1" src="~/Content/Pictures/Sun.jpg">
        <img id="2" src="~/Content/Pictures/Flower.jpg">
        <img id="3" src="~/Content/Pictures/Snowflake.jpg">
        <img id="4" src="~/Content/Pictures/Tree.jpg">
    </div>

</div>
    <div class="row">
        <div class="col-md-6" align="center">
            <img src="~/Content/Pictures/L.jpg">
            <p>Want to review a place you just visited?</p>
            <p>Then click the button below to do a review of where you have been.</p>
           <p> <button type="button">
           @Html.ActionLink("Talk About the Waves", "Create", "LocationReview")
                </button></p>
        </div>
        <div class="col-md-6" align="center">
            <img src="~/Content/Pictures/LS.jpg">
            <p>Can't decide where to go?</p>
            <p>Click the link to search for reviews for vacation spots you want to go.</p>
            <p><button type="button">
                @Html.ActionLink("Find Some Waves", "Index", "LocationReview")
            </button></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" align="center">
            <img src="~/Content/Pictures/A.jpg">
            <p>Want to talk about your favorite activity?</p>
            <p>Head to this page to talk about the activities you experienced.</p>
            <p><button type="button">
                @Html.ActionLink("Experience the Waves", "Create", "ActivityReview")
            </button></p>
        </div>
        <div class="col-md-6" align="center">
            <img src="~/Content/Pictures/AR.jpg">
            <p>Don't know what to do?</p>
            <p>Come here to read some reviews of the activities of a specific place.</p>
            <p><button type="button">
                @Html.ActionLink("Surf the Waves", "Index", "ActivityReview")
            </button></p>
        </div>
    </div>

</body>