
@{
    ViewBag.Title = "Home";

}

@*<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>*@



<body>

    <div class="bxslider">
        <img id="1" src="~/Content/Pictures/explore-slider.jpg">
        <img id="2" src="~/Content/Pictures/rate-slider.jpg">
    </div>

 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">MI Vacation Surfer&copy;</h3>
            </div>
            <div class="panel-body">
                <p>Thanks for visiting MI Vacation Surfer! We hope you can find the information that you need to have the perfect Michigan getaway! If you have visited a Michigan destination or you would like to, this is the place for you. Surf our site to check out user reviews of popular Michigan vacation spots and activities to help you figure out where you would like to go next! Make sure you come back to post your review after your trip! </p>
                <p>Find out what others are doing and let us know what you have experienced in the Great Lakes State.</p>
            </div>

        </div>
        <div class="panel-body">
            <p>Thanks for visiting our site! We hope you can find the information that you need to take the perfect Michigan Vacation! If you have vacationed to a Michigan destination or you want to, this is the site for you. Surf our site to check out user reviews of popular Michigan vacation spots and activities to help you figure out where you want to go next! Make sure you come back to post your review after your trip! </p>
            <p>Find out what others are doing and let us know what you have experienced in the Great Lakes State.</p>
        </div>
    

    <hr />

    <div class="row">
        <div class="col-md-6" align="center">

            <img src="~/Content/Pictures/rate.jpg" class="img-circle">
            <p>Have something to say about your recent Michigan vacation? Say it here!</p>


           <p> <button type="button" class="btn">
           @Html.ActionLink("Review A Location", "Create", "LocationReview")
                </button></p>

            <p>
                <button type="button" class="btn">
                    @Html.ActionLink("Review An Activity", "Create", "ActivityReview")

                </button>
            </p>
        </div>
        <div class="col-md-6" align="center">
            <img src="~/Content/Pictures/search.jpg" class="img-circle">
            <p>Read reviews on popular Michigan Destinations and things to do! </p>
            <p>
                <button type="button" class="btn">
                    @Html.ActionLink("Find A Location", "Index", "LocationReview")
                </button>
            </p>
            <p>
                <button type="button" class="btn">
                    @Html.ActionLink("Find An Activity", "Index", "ActivityReview")
                </button>
            </p>
        </div>
    </div>




</body>
