

        @using (Html.BeginForm("Results", "Search"))
        {
            <form class="navbar-form navbar-left">

                <input type="text" class="form-control row-col-lg-6" placeholder="Search">

                @*<input class="search-button" type="submit" value="Search" />*@

            </form>
        }


