@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #005c90;
    color:white;
}

.navbar {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: lightgray;
}

.navbar-brand {
    background: url(Pictures/MiVacationSurfer.png) no-repeat;
    background-size: 120px 50px ;
    margin:5px;
    height: 50px;
    width: 120px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
