@import url(http://fonts.googleapis.com/css?family=Cabin:500,600);

body {
    padding-bottom: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: medium;
    font-weight:500;
    color: black;
    background: url(Pictures/mackinaw.jpg) no-repeat center fixed;
}

.navbar {
    font-family: 'Cabin', sans-serif;
    background-color: white;
}

.navbar-brand {
    background: url(Pictures/MiVacationSurfer.png) no-repeat;
    background-size: 120px 50px;
    margin: 5px;
    height: 50px;
    width: 120px;
}

/* Set padding to keep content from hitting the edges */


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  opacity: 0.8;
    filter: alpha(opacity=80);
}

.container img {
    padding-top: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    font-family: 'Cabin', sans-serif;
}