@import url(http://fonts.googleapis.com/css?family=Cabin:500,600);

body {
    padding-bottom: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: medium;
    font-weight:500;
    color: black;
    background: url(Pictures/8615718622_c6d065d57a_k.jpg) no-repeat center fixed;
}

.navbar {
    font-family: 'Cabin', sans-serif;
    background-color: white;
}

.navbar-brand {
    background: url(Pictures/logo2.png) no-repeat;
    background-size: 60px 60px;
    margin: 5px;
    height: 60px;
    width: 60px;
}

/* Set padding to keep content from hitting the edges */


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  opacity: 0.9;
    filter: alpha(opacity=90);
  border: 2px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.container img {
    padding-top: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn {
   
    font-family: 'Cabin', sans-serif;
    font-weight:500;
    background-color:darkgray;
    color:#0d3a5f;
    border-color: white;
    
}
a {
    color: #0d3a5f;
}

a:hover {
    color: #0d3a5f;
}

.pagination {
    font-family: 'Cabin', sans-serif;
}
