@import url(http://fonts.googleapis.com/css?family=Cabin:500,600);

body {
    padding-bottom: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: medium;
    font-weight:500;
    color: black;
    background: url(Pictures/8615718622_c6d065d57a_k.jpg) no-repeat center fixed;
}

.navbar {
    font-family: 'Cabin', sans-serif;
    background-color: white;
    font-size: small
}

.navbar-brand {
    background: url(Pictures/logo2.png) no-repeat;
    background-size: 60px 60px;
    margin: 5px;
    height: 60px;
    width: 60px;
}

/* Set padding to keep content from hitting the edges */


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  opacity: 0.9;
    filter: alpha(opacity=90);
  border: 2px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.container img {
    padding-top: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a {
    color: #0671ca;
}

a:hover {
    color: #0671ca;
}


.btn {
    font-family: 'Cabin', sans-serif;
    background-color: #0671ca;
    border-color: white;
    color:white;
}

.btn:hover {
    background-color:darkgray;
    color: white;
}

.btn a 
{
    color: white;
}



.pagination {
    font-family: 'Cabin', sans-serif;
}

.img-circle {
    padding: 0 !important;
    height: 150px;
    width: 150px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.img-circle:hover {
    padding: 0 !important;
    width: 165px;
    height: 165px;
}
.img-logo{
    padding: 0 !important;
    width: 50px;
    height: 50px;

  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
.img-logo:hover{
    padding: 0 !important;
    width: 55px;
    height: 55px;
}

.img-thumbnail{
    opacity: 1;
    filter: alpha(opacity=100);
    padding:0 !important;
    width:250px;
    height:250px;
}

.box-one{
    
    width: 330px;
    padding: 15px;
    border: 0 solid gray;
    margin: 0; 
    background-color: lightgray;

}